.shuffle-parent {
  display: inline-block;
  white-space: nowrap;
}

.shuffle-parent.is-ready {
  visibility: visible;
}

.shuffle-parent:not(.is-ready) {
  visibility: hidden;
}

.shuffle-word,
.shuffle-line {
  display: inline-block;
}

.shuffle-char {
  display: inline-block;
  will-change: transform;
}
